<p>Name: <%= "#{params[:first_name]} #{params[:last_name]}" %></p>
<p>Email: <%= params[:email] %></p>
<p>Store Name: <%= params[:store_name] %></p>
<p>Sales Rep: <%= params[:sales_rep] %></p>
<p>Options Interested in: <%= params[:options] %></p>
<p>Mount: <%= params[:mount] %></p>
<p><%= params[:body] %></p>
